{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Add Bootstrap CSS -->
</head>

{% block content %}

    <h2>Upload a log file</h2>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <!-- Add the modal here -->
    <div class="modal fade" id="uploadSuccessModal" tabindex="-1" role="dialog"
         aria-labelledby="uploadSuccessModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadSuccessModalLabel">上传成功</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    文件上传成功！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add jQuery and Bootstrap JS -->
    <script>
        $(document).ready(function () {
            $('#uploadForm').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    dataType: 'json',
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                    },
                    success: function (data) {
                        $('.modal-body').text(data.message);
                        $('#uploadSuccessModal').modal('show');
                    }
                });
            });
        });
    </script>
{% endblock %}

