/apps/monitor/__pycache__
*.pyc
/monitor_venv.zip
/test.zip
/test/
/media/log
/logs
/.idea
/celerybeat-schedule
# .gitignore
MonitorDjango/apps/monitor/__pycache__
/utils/*.ini
./config.ini
./config_prod.ini
celerybeat-schedule

