{% extends "base.html" %}

{% block content %}
    <h2>站点详情: {{ website.domain }}</h2>

    <h3>访问信息</h3>
    <table>
        <thead>
        <tr>
            <th>访问时间</th>
            <th>代理IP</th>
            <th>访问IP</th>
            <th>用户代理</th>
            <th>访问路径</th>
            <!-- 根据你的模型添加更多列 -->
        </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.visit_time }}</td>
                <td>{{ visit.remote_addr }}</td>
                <td>{{ visit.http_x_forwarded_for }}</td>
                <td>{{ visit.user_agent }}</td>
                <td>{{ visit.path }}</td>
                <!-- 根据你的模型填充更多数据 -->
            </tr>
        {% endfor %}
        {% for data in datas %}
            <tr>
                <td>{{ data.visit_time }}</td>
                <td>{{ data.remote_addr }}</td>
                <td>{{ data.http_x_forwarded_for }}</td>
                <td>{{ data.user_agent }}</td>
                <td>{{ data.path }}</td>
                <!-- 根据你的模型填充更多数据 -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>IP频率最高的前10个IP</h3>
    <form method="post">
        {% csrf_token %}
        {% for ip in ips %}
            <p>
                {{ ip.key }} - {{ ip.doc_count }}
                <button type="submit" name="ip" value="{{ ip.key }}">查看此IP的访问详情</button>
            </p>
        {% endfor %}
    </form>
    <h3>当前24小时内访问ip频率前10</h3>
    {% for ip in ips_10 %}
        <p>
            {{ ip.key }} - {{ ip.doc_count }}
            <button type="submit" name="ip" value="{{ ip.key }}">查看此IP的访问详情</button>
        </p>
    {% endfor %}
{% endblock %}
